#update-permission-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#permission-input {
	text-align: center;
	width: 50%;
}

.fake-container {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#delete-btn {
	background-color: var(--danger-color);
}
