.file-btn {
	height: 50px;
	width: 50px;
	font-size: 18pt;
	padding: 0;
	position: fixed;

	left: calc(50vw + 510px);
	display: flex;
	justify-content: center;
	align-items: center;
}

#delete-file {
	background-color: var(--dark-sea-green);
	bottom: 80px;
}

#new-folder {
	background-color: var(--burly-wood);
	bottom: 20px;
}
