#update-permission-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#permission-input {
	text-align: center;
	width: 50%;
}

.fake-container {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 200px;
}

#delete-btn {
	background-color: var(--burly-wood);
	margin-top: 50px;
}

.container {
	width: 800px;
	margin-top: 50px;
	border-radius: 5px;
	border: 2px solid #ddd;
}
